<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CognitiveClipper</title>
    <link rel="stylesheet" href="../static/css/documentation_style.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="./index.html">CognitiveClipper</a>
        </div>
        <nav>
            <ul>
                <li><a href="https://github.com/AnamolZ/CognitiveClipper">GitHub</a></li>
                <li><a href="../templates/documentation.html">Docs</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main-section">
            <h1>CognitiveClipper: A New Era of Video Consumption</h1>
            <p>In today's world, where information is abundant and video content is king, keeping up can be daunting. Imagine having a personal AI assistant that not only condenses long videos into brief, insightful summaries but also answers your questions about the content, even those that aren't directly addressed. This is the essence of the Personalized Video Summarization and Q&A Bot.</p>
            <h2>Harnessing the Power of AI</h2>
            <p>This innovative tool combines several advanced technologies. AssemblyAI transcribes spoken words into text. Pinecone, a robust vector database, stores the video's semantic essence, enabling quick searches for relevant information. Additionally, Google's Generative AI helps generate refined content and answers based on the data.</p>
        </div>
    </main>
</body>
</html>
